node_modules
npm-debug.log
.git
.gitignore
.dockerignore
.env
.env.*.local
.next
.turbo
dist
build
.DS_Store
*.pem
.idea
.vscode
.swp
.swo
*.swp
*.swo
*~
.nyc_output
coverage
.env.test
.cache
*.tsbuildinfo
.playwright
e2e/artifacts
playwright-report
blob-report
.next
out

