@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@700&display=swap');

@import "tailwindcss";

@theme {
  --color-brand-gold: #C7A17A;
  --color-brand-deep: #0B132B;
  --color-brand-cream: #FAF7F2;
  
  --font-family-serif: "Playfair Display", serif;
  --font-family-sans: "Inter", sans-serif;
    
}

/* Cacher le curseur sur tous les éléments sauf les inputs */
*, *:hover, *:focus, *:active {
  cursor: none !important;
}

/* Montrer le curseur uniquement sur les éléments de saisie */
input, textarea, select {
  cursor: auto !important;
}
